@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,700&display=swap');

/* body > * + * { margin-block-start: var(--flow-space, 1rlh);} */

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F2EDE7;
    margin: 0;
    padding: 0;
}

/* SKRIFTER */

h1, h2 {
    font-family: 'Lora', serif;
    font-style: italic;
    color: #442B27;
}
  h3, h4, p, a, li {
    font-family: 'Lora', serif;
    color: #442B27;;
}
.bold {
    font-weight: 600;
}


/* HEADER */

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    padding-right: 100px;
    padding-left: 100px;

    border-bottom: 1px solid #442B27;
    margin-bottom: 0;
}
nav ul {
    display: flex;
    gap: 2.5rem;
    list-style: none;
}
.logo-1 {
    font-size: 18px;
}
header:has(li) a {
    font-size: 15px;
    text-decoration: none;
}


/* LANDING-PAGE */

.hej {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 1rlh;
    padding-top: 1.5rlh;

    border-right: 1px solid #442B27;
    margin-right: 180px;
}
.full {
    width: auto;
    height: 615px;
    margin: 0;
    padding: 0;

    grid-column: 1/2;
    grid-row: 1/2;
}
h1 {
    font-size: 40px;
    font-weight: 500;

    grid-column: 1/-1;
    grid-row: 1/2;

    place-self: center;
    margin-left: 350px;
    margin-bottom: 180px;
}


/* OM MIG */

.om-mig {
    border-top: 1px solid #442B27;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 4.5rlh;
}
h2 {
    font-size: 24px;
    text-transform: uppercase;
    
    padding-top: 1.5rlh;
}
p {
    font-size: 14px;
    text-align: justify;
}

.om-mig div {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding-top: .5rlh;
    place-items: center;
}
.intro {
    grid-column: 1/2;
    grid-row: 2/3;
}
.text {
    grid-column: 2/3;
    grid-row: span 3;
    max-width: 70ch;
}
.ek {
    grid-column: 3/-1;
    grid-row: 1/2;
}


/* PROJEKTER */

#projekt {
    border-top: 1px solid #442B27;
    border-bottom: 1px solid #442B27;
    padding-right: 100px;
    padding-left: 100px;

    display: grid;
    grid-template-columns: 1fr 2.5fr;
}
.side-line{
    border-right: 1px solid #442B27;
}

#projekt article {
    display: flex;
    gap: 100px;
    padding-top: 3.5rlh;
    padding-left: 150px;
    padding-bottom: 3.5rlh;
}
article img {
    width: auto;
    height: 250px;
}
h3 {
    font-size: 14px;
    font-weight: 600;
}
a {
    font-size: 12px;
    font-style: italic;
}


/* ERFARING */

.erfaring {
    /* border-top: 1px solid #442B27; */
    /* padding-right: 100px; */
    padding-bottom: 1.5rlh;
}
.erfaring h2 {
    padding-left: 100px;
}
h4 {
    font-size: 36px;
    font-weight: 500;
    font-style: italic;

    padding: 0;
    padding-left: 1.5rlh;
    padding-bottom: 1.5rlh;
    margin: 0;
}
.erfaring li {
    font-size: 14px;
    margin-top: .75rlh;
    max-width: 65ch;
}

.erfaring:has(article) article {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-top: 1.5rlh;
}
article div {
    padding-left: 2rlh;
}
.half {
    width: auto;
    height: 600px;
}

.line {
    border-right: 1px solid #442B27;
    margin-right: 180px;
}


/* KONTAKT */

#kontakt {
    border-top: 1px solid #442B27;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 2.5rlh;
}
.kontakter {
    display: flex;
    gap: 20rem;
    padding-top: 1rlh;
}
.email {
    font-size: 14px;
    font-style: normal;
    text-decoration: none;
}

/* FOOTER */

footer {
    border-top: 1px solid #442B27;
    padding-right: 100px;
    padding-left: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer a {
    font-size: 13px;
}